@import url('https://cloud.typography.com/7479438/7888212/css/fonts.css');

body, h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
	font-family: "Gotham Rounded A", "Gotham Rounded B", sans-serif;
}

.wy-side-nav-search {
	background-color: transparent;
}

.wy-nav-content {
	max-width: 1000px;
}
